Log4perl.logger.myMovis=DEBUG, Appender1
Log4perl.appender.Appender1=Log::Dispatch::File
Log4perl.appender.Appender1.filename=../logs/myMovis.log
Log4perl.appender.Appender1.mode=append
Log4perl.appender.Appender1.layout=Log::Log4perl::Layout::PatternLayout
Log4perl.appender.Appender1.layout.ConversionPattern=%d %p> %F{1}:%L %M - %m%n
#Log4perl.appender.Appender1.layout.ConversionPattern=%d %p> %M{1} %C - %m%n
